{% extends "::base.html.twig" %}

{% block stylesheets %}         
    {{ parent() }}
{% endblock %}
{% block body %}
{# <div class="thumbnail clearfix">
        {% if product.imageName %}
            <img src="{{ vich_uploader_asset(product, 'product_image') | imagine_filter('product_image_thumb') }}" alt="" class="img-thumbnail">
        {% else %}
            <img src="http://placehold.it/240x200" alt="" class="img-thumbnail">
        {% endif %}#}

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Tytul</th>
            <th>Kategoria</th>
            <th>Autor</th>
            <th>Streszczenia</th>
            <th>Data dodania</th>
             <a href="{{ path('add_posts') }}" class="btn btn-primary pull-right">Dodaj nowy post</a>
        </tr>
    </thead>
    <tbody>
        {% for post in pages %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.category }}</td>
                <td><a href="{{ path('post_show', {'id': post.id}) }}">{{ post.user }}</a></td>
                <td>{{ post.description }}</td>
                <td>{{ post.createdAt |date('y-m-d H:i:s') }}</td>   
            </tr>  
        <div class="pull-left">
        {% else %}
            <tr>
                <td colspan="4">Brak postów!</td>
            </tr>
        {% endfor %}

    </tbody>
</table>

         {{ knp_pagination_render(pages) }}
 </div>
{% endblock %}
