{% extends "::base.html.twig" %}

{% block title %}
Wyniki wyszukiwania dla "{{ query }}"{% endblock %}

{% block body %}
    
    <h1>{{ block('title') }}</h1>
    
    {% if posts|length > 0 %}
        <p>Znaleziono {{ posts|length }} postów.</p>
    {% else %}
        <p>Nie znaleziono żadnych postów spełniających kryteria wyszukiwania. Spróbuj wyszukać ponownie</p>
    {% endif %}
    
    {% for post in posts %}

        {% if loop.first or (loop.index % 4) == 0  %}
            <div class="row">
            {% endif %} 

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail clearfix">
                    <img src="http://placehold.it/240x200" alt="" class="img-thumbnail">
                    <div class="caption">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.description(50, true, ' (...)') }}</p>
                    </div>
                </div>
            </div>

            {% if loop.last or (loop.index % 4) == 0  %}
            </div>
        {% endif %}

    {% endfor %}
    
{% endblock %}
